extends layout/_default

block vars
  - var page_title = description
  - var page_active = 'index'
  - var featured = pages.filter(v => v.featured)

block content
  .view
    each page in featured
      a.featured-box-component(href=`${page_prefix + page.path}`)
        .title=page.title
        .date=page.date
        .image(style='background-image: url("' + page.image + '")')
        .text=page.description
        .tags
          each tag in page.categories
            .tag=tag
